#planets {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#planets td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#planets tr:nth-child(even){background-color: #f2f2f2;}

#planets tr:hover {background-color: #ddd;}

#planets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

input[type='text'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

